# Capacitated EOQ Model

In [2]:
# Load in the libraries that we'll use

import pandas as pd
import numpy as np

## Model Inputs

Feel free to modify these to understand how the model works. Then `Run All`.

In [3]:
#This cell is for reading the system-wide inputs

total_hours = 8736
avail_regular_hours = 4264
avail_time_constraint = avail_regular_hours / total_hours
nominal_set_up_time = 10  #later we'll change this to a calculation
inv_holding_cost_percent = .2
cost_of_set_up_hour = 100

In [7]:
#This cell is for reading the product-specific inputs

product_input_table = pd.read_csv("product_input_v1.csv", index_col="Product ID")
product_input_table # display the table

,Demand (year)- m,Cost- c-j,Production Rate (hr),Set Up Scaler-- (q-j)
Product ID,,,,
1,5000,100,15,1
2,5000,200,15,1
3,8000,200,15,2
4,5000,400,15,2
5,5000,400,15,3
6,5000,500,15,3
7,5000,200,15,4
8,5000,500,15,4
9,5000,500,15,5
10,5000,1000,15,5

## Functions

In [ ]:
# All the functions we plan on using

## Model

In [ ]:
# Here's where the model runs

## Results

In [ ]:
# And here are the results!